:root {
    background-color: #FDB927;
    --list-color: rgb(123, 69, 123);
    --largest-font: 50px;
    --larger-font: 40px;
    --large-font: 30px;
    --medium-font: 25px;
    --small-font: 20px;
    --centered: center;
    font-family: 'Fira Sans Extra Condensed', sans-serif;
}

.headerEl {
    font-size: var(--largest-font);
}

.searchedCitiesContainer {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.cardContainer {
display: flex;
justify-content:space-around;
}

