:root {
    --list-color: rgb(123, 69, 123);
    --largest-font: 50px;
    --larger-font: 40px;
    --large-font: 30px;
    --medium-font: 25px;
    --small-font: 20px;
    --centered: center;
}

body {
    background-color: #CDB4DB;
    color: black;
    font-family: 'Tilt Neon', sans-serif;
}


main {
    display: flex;
}

.searchCardContainer {
    width: 25%;
    height: 300%;
    padding: 5px;
}

#searchCardFormEl {
    margin-bottom: 7px;
}

#searchCardInput {
    margin-top: 10px;
    width: 100%;
    border-radius: 5px;
}

.searchBtn {
    margin-top: 6px;
}

.resetBtn {
    margin-top: 6px;
}

.searchCardContainer {
    height: 100%;
}

.searchedCitiesContainer {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.allCardsContainer {
    display: flex;
    flex-direction: column;
    /* background-color: #B298DC;
    border-radius: 10px;
    margin-left: 0.2rem;
    width: 90%;
    margin-right: 0.5rem */

}

.currentCardContainer {
    display: flex;
    justify-content: flex-start;
    background-color: #B298DC;
    border-radius: 10px;
    width: 100%;
    margin: 0 0.5rem 0.5rem 0.2rem;
}


.cardContainer {
    display: flex;
    justify-content: space-around;
    background-color: #B298DC;
    border-radius: 10px;
    width: 100%;
    margin: 0.2rem 0.5rem 0.5rem 0.2rem;
}

card {
    margin: 10px;
    width: 190px;
}

.headerEl {
    font-size: var(--largest-font);
    text-align: var(--centered);
}

/* button {
    width: 200px;
    padding: 10px;
    border: 2px solid black;
    margin: 1px;
} */