:root {
    background-color: #FDB927;
    --list-color: rgb(123, 69, 123);
    --largest-font: 50px;
    --larger-font: 40px;
    --large-font: 30px;
    --medium-font: 25px;
    --small-font: 20px;
    --centered: center;
    font-family: 'Fira Sans Extra Condensed', sans-serif;
}

main {
    display: flex;
}

.searchCardContainer {
    width: 25%;
    height: 300%;
}

.searchedCitiesContainer { 
    display: flex;
    flex-direction: column;
    align-items: flex-start;
} 

.allCardsContainer {
    display: flex;
    flex-direction: column;

}

.currentCardContainer {
    display: flex;
    justify-content:flex-start;
    }


.cardContainer {
display: flex;
justify-content:space-around;
}

card {
    margin: 10px;
    width: 190px;
}

.headerEl {
    font-size: var(--largest-font);
}


